In [1]:
import sympy as sp

In [2]:
sp.isprime(20190823)

True

In [3]:
p0 = [3, 5, 7]

In [7]:
p0 = [3, 7, 13, 17, 23]

In [20]:
year =[]
for m in range(1, 13):
    for k in p0:
        p = m*100 + k
        if sp.isprime(p):
            print(p)
            year.append(p)

103
107
113
223
307
313
317
503
523
607
613
617
823
907
1013
1103
1117
1123
1213
1217
1223

In [22]:
len(year)

21

In [25]:
year0 = []

for i in range(10):
    for k in year:
        p = i*10000 + k
        if sp.isprime(p):
            year0.append(p)

In [26]:
year1 = []

for i in range(10):
    for k in year0:
        p = i*100000 + k
        if sp.isprime(p):
            year1.append(p)

In [29]:
len(year1)

181

In [30]:
year2 = []

for i in range(10):
    for k in year1:
        p = i*1000000 + k
        if sp.isprime(p):
            year2.append(p)

In [31]:
len(year2)

435

In [33]:
year3 = []

for i in range(2, 5):
    for k in year2:
        p = i*10000000 + k
        if sp.isprime(p):
            year3.append(p)

In [34]:
year3

[20000107,
 20000503,
 20001217,
 20010223,
 20010313,
 20031223,
 20041213,
 20060107,
 20070823,
 20100907,
 20130223,
 20190523,
 20190823,
 20300317,
 20360317,
 20400307,
 20400823,
 20480107,
 20600317,
 20660617,
 20700103,
 20700223,
 20700307,
 20700523,
 20721013,
 20910103,
 20930113,
 21000313,
 21000907,
 21050503,
 21320107,
 21330313,
 21360223,
 21870223,
 21890107,
 21990523,
 23000617,
 23010313,
 23011117,
 23100313,
 23970313,
 24021013,
 24050503,
 24090907,
 24270223,
 24350503,
 24501223,
 24900307,
 24901213,
 26001013,
 26070313,
 26150503,
 26190313,
 26931013,
 27020113,
 27080107,
 29101117,
 29331013,
 30000307,
 30000317,
 30001123,
 30010103,
 30030307,
 30031223,
 30061223,
 30070823,
 30080107,
 30080317,
 30090107,
 30090617,
 30301013,
 30360223,
 30400523,
 30450503,
 30500317,
 30501223,
 30511213,
 30560617,
 30611213,
 30630307,
 30641213,
 30660103,
 30670823,
 30680107,
 30800113,
 30810223,
 30870223,
 30890107,
 30900607,
 30921013,
 30990313,
 30990523,
 31000313,
 31060223,
 31500113,
 31540823,
 31921013,
 32000113,
 32190523,
 32701117,
 32970313,
 33000103,
 33000223,
 33011117,
 33011213,
 33060107,
 33100313,
 33290107,
 33300823,
 33381223,
 33400823,
 33510613,
 33660607,
 33901013,
 34000907,
 34001117,
 34081013,
 34090907,
 34330103,
 34501223,
 34990313,
 35060317,
 35070823,
 36000317,
 36000823,
 36100613,
 36100907,
 36190313,
 36450503,
 36480107,
 36501217,
 36510613,
 36631223,
 37001123,
 37001213,
 37860107,
 37870823,
 38480107,
 38910103,
 38941117,
 39000223,
 39011117,
 39060607,
 39070223,
 39351217,
 39660617,
 39670823,
 39701117,
 40000223,
 40000313,
 40000523,
 40030103,
 40030313,
 40080107,
 40080317,
 40301123,
 40320113,
 40330313,
 40500107,
 40511213,
 40540823,
 40800113,
 40920107,
 42000107,
 42000503,
 42070823,
 42190523,
 42701117,
 42930113,
 42970313,
 43000523,
 43081223,
 43211213,
 43381223,
 43510613,
 43560107,
 43860317,
 45700307,
 45760103,
 46000103,
 46000307,
 46290617,
 46500317,
 48121013,
 48190823,
 48400823,
 48941117,
 49000223,
 49020113,
 49080107,
 49501013]

In [46]:
def prime_day(day):
    for i in range(len(day)):
        d = day[i:]
        if sp.isprime(int(d)):
            c = "質數"
        else:
            c = "不是質數"
        print(f"{d:>8s} → {c}")

In [47]:
prime_day("20190823")

20190823 → 質數
 0190823 → 質數
  190823 → 質數
   90823 → 質數
    0823 → 質數
     823 → 質數
      23 → 質數
       3 → 質數

In [48]:
prime_day("20190523")

20190523 → 質數
 0190523 → 質數
  190523 → 質數
   90523 → 質數
    0523 → 質數
     523 → 質數
      23 → 質數
       3 → 質數

In [49]:
prime_day("20300317")

20300317 → 質數
 0300317 → 質數
  300317 → 質數
   00317 → 質數
    0317 → 質數
     317 → 質數
      17 → 質數
       7 → 質數

In [56]:
century = year3[:27]

In [57]:
len(century)

27

In [58]:
for i, y in enumerate(century, 1):
    print(i, y)

1 20000107
2 20000503
3 20001217
4 20010223
5 20010313
6 20031223
7 20041213
8 20060107
9 20070823
10 20100907
11 20130223
12 20190523
13 20190823
14 20300317
15 20360317
16 20400307
17 20400823
18 20480107
19 20600317
20 20660617
21 20700103
22 20700223
23 20700307
24 20700523
25 20721013
26 20910103
27 20930113

In [59]:
for y in century:
    if '0823' in str(y):
        print(y)

20070823
20190823
20400823